<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<img class="home-img" src="/assets/ccsi_home_img.jpg" />
				<p>CCI Partners have been practitioners for more than twenty years in effective sanctions implementation policies for the public and private sectors.</p>
				<h4>CCI is currently involved in the following projects:</h4>
				<p>Co-organizer of the High-Level Review of United Nations Sanctions - a process to enhance sanctions implementation and effectiveness - with the Watson Institute for International Studies (Brown University). For more on this project, please visit www.HLR-UNSanctions.org</p>
				<p>The WMD-sanctions implementation manual can be accessed on this website under WMD Sanctions</p>
				<p>Detailed descriptions of all items, technologies, components, equipment and services restricted under the UN nonproliferation sanctions on the Democratic People's Republic of Korea and on Iran are also accessible in the Annexes listed under WMD Sanctions and are searchable under their technical terms on Google or on other search engines.</p>
				<p>Advising and training prospective Security Council state members in sanctions compliance, monitoring, and implementation</p>
				<p>Providing sanctions training to graduate and post-graduate foreign policy students and practitioners</p>
				<p>Assisting companies in corporate social responsibility compliance strategies based on a custom-tailored ESG screening approach</p>
				<p>Conducting studies on the natural resource sector in conflict, post-conflict and otherwise challenging situations ( see Natural Resources)</p>
				<p>Publishing broadly on sanctions issues, conflict resolution policies, private sector compliance and due diligence requirements, and natural resources sanctions</p>
				<p>Contributing to the Targeted Sanctions Consortium's (joint project of The Graduate Institute, Geneva, and the Watson Institute at Brown University) first comprehensive assessment of all United Nations targeted sanctions regimes</p>
				<br><br>
				<h4>Please visit our new HLR page with background information and important links.</h4>
				<p>The High-Level Review of UN Sanctions is still under way. For more information on the HLR please visit: http://www.hlr-unsanctions.org</p>
				<p>For the HLR Background Paper please click here</p>
				<p>Release of a new report: 'Congo's Golden Web'. Following the previous releases of 'The High Cost of Congolese Gold' and 'Conflict Gold to Criminal Gold', the new and third report presents research about individuals and companies who are currently, or formerly, part of Congo's gold production, trade and export-industry. For French versions of these reports please click here: Le Cout de l'or congolais et De l or des Conflits a l Or Criminel</p>
			</div>
			<div class="col-sm-3">
				<h2>Tools for Sanctions Practitioners</h2>
				<div class="box">
					<h3>Practitioner's Compliance Handbook for Non-proliferation Sanctions on North Korea (DPRK) and Iran</h3>
				</div>
				<div class="box-light">
					<h3>CCSI Principals:</h3>
					<h3>Enrico Carisch</h3>
					<h3>Loraine Rickard-Martin</h3>
				</div>
				<div class="box">
					<h2>Latest News</h2>
				</div>
			</div>
		</div>
	</div>
</div>
