/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html, html body {
	width: 100%;
	margin: 0;
	padding: 0;
}



header#header {
	width: 100%;
	display: block;

	img {
		display: block;
		width: 100%;
	}

	ul.navlist {
		margin: 0;
		padding: 0;
		display: block;
		list-style-type: none;
		background: #abd9ee;

		li {
			display: inline-block;
			font-family: 'Lato', sans-serif;
			text-transform: uppercase;
			color: #fff;
			padding: .35em 2em;
			font-size: 1.15em;

			a {
				color: #fff;
			}
		}

		li:first-child {
			padding-left: 0;
		}
	}
}


footer#footer {
	width: 100%;
	display: block;
	padding-top: 14em;
	padding-bottom: 6em;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #acd9ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#acd9ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#acd9ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#acd9ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#acd9ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#acd9ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#acd9ee',GradientType=0 ); /* IE6-9 */

	p {
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		text-align: center;
	}

}






