<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p>Compliance and Capacity International, LLC Services Links and Resources Contact Us Site Map</p>
				<p>Copyright &copy; 2015 Compliance and Capacity International, LLC</p>
				<p>110 W 94th Street | New York, NY 10025 | USA | +1 212 864 2206 | loraine.rickard-martin@comcapint.com</p>
			</div>
		</div>
	</div>
</footer>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>