<header id="header">
	<img src="/assets/ccsi_header.jpg" />
	<ul class="navlist">
		<div class="container">
			<div class="row">
				<li>Home</li>
				<li>WMD Sanctions</li>
				<li>HLR</li>
				<li>Services</li>
				<li>Links & Resources</li>
				<li>Natural Resources</li>
				<li>Contact</li>
			</div>
		</div>
	</ul>
</header>